{% extends 'layout.html' %}

{% block content %}
<h1>{{title}}</h1>
<a href="/" id="exit-btn">방 나가기</a>
<div>
  <span>참여자 수 : </span>
  <span id="number">{{current}}</span>
</div>
<div>
  <span>방장 : </span>
  <span id="room-owner" style="color: {{room.owner}}">{{room.owner}}</span>
</div>
<fieldset>
  <legend>채팅 내용</legend>
  <div id="chat-list">
    {% for chat in chats %}
    {% if chat.user === user %}
    <div class="mine" style="color: {{chat.user}}">
      <div>{{chat.user}}</div>
      {% if chat.gif %}
      <img src="/gif/{{chat.gif}}">
      {% else %}
      <div>{{chat.chat}}</div>
      {% endif %}
    </div>
    {% elif chat.user === 'system' %}
    <div class="system">
      <div>{{chat.chat}}</div>
    </div>
    {% else %}
    <div class="other" style="color: {{chat.user}}">
      <div>{{chat.user}}</div>
      {% if chat.gif %}
      <img src="/gif/{{chat.gif}}">
      {% else %}
      <div>{{chat.chat}}</div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</fieldset>
<form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
  <label for="gif">GIF 올리기</label>
  <input type="file" id="gif" name="gif" accept="image/gif">
  <input type="text" id="chat" name="chat">
  <button type="submit">전송</button>
</form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('http://localhost:8005/chat', {
    path: '/socket.io', //require('../socket')이 아닌 io.connect를 사용
  });
  socket.emit('join', new URL(location).pathname.split('/').at(-1));
  socket.on('join', function (data) {
    const div = document.createElement('div');
    div.classList.add('system');
    const chat = document.createElement('div');
    chat.textContent = data.chat;
    div.appendChild(chat);
    document.querySelector('#chat-list').appendChild(div);
    const number = document.querySelector('#number')
    number.textContent = data.number;
  });
  socket.on('exit', function (data) {
    const div = document.createElement('div');
    div.classList.add('system');
    const chat = document.createElement('div');
    chat.textContent = data.chat;
    div.appendChild(chat);
    document.querySelector('#chat-list').appendChild(div);
    const number = document.querySelector('#number')
    number.textContent = data.number;
  });
  socket.on('chat', function (data) { // socket.on은 '받는' 메소드. 여기서 data는 당연히 라우터에서 post방식으로 보낸 emit('chat') 이다. 콘솔 찍어서 확인해보면 socket, room, user, chat 이 나온다.
    const div = document.createElement('div');
    if (data.user === '{{user}}') {
      div.classList.add('mine');
    } else {
      div.classList.add('other');
    }
    const name = document.createElement('div');
    name.textContent = data.user;

    if (data.user !== '{{user}}') { //본인인 경우 귓속말 버튼을 숨김
      const dm = document.createElement('button');
      dm.textContent = '귓속말';
      dm.className = 'dm';
      dm.dataset.socket = data.socket; //dataset은 소켓으로 받은 데이터. 콘솔 찍어서 확인해보면 socket, room, user, chat 이 나온다.
      dm.addEventListener('click', sendDM); //sendDM은 스크립트 맨 마지막에 정의. 
      name.appendChild(dm);
      const owner = document.getElementById('room-owner').textContent;

      if ('{{user}}' === owner) {
        const banBtn = document.createElement('button');
        banBtn.className = 'ban';
        banBtn.textContent = '강퇴';
        banBtn.dataset.socket = data.socket;
        banBtn.addEventListener('click', ban);
        name.appendChild(banBtn);
      }
      div.appendChild(name);
    }

    if (data.chat) {
      const chat = document.createElement('div');
      chat.textContent = data.chat;
      div.appendChild(chat);
    } else {
      const gif = document.createElement('img');
      gif.src = '/gif/' + data.gif;
      div.appendChild(gif);
    }
    div.style.color = data.user;
    document.querySelector('#chat-list').appendChild(div);
  });
  document.querySelector('#chat-form').addEventListener('submit', function (e) {
    e.preventDefault();
    if (e.target.chat.value) {
      axios.post('/room/{{room._id}}/chat', {
        chat: this.chat.value,
        sid: socket.id,
      })
        .then(() => {
          e.target.chat.value = '';
        })
        .catch((err) => {
          console.error(err);
        });
    }
  });
  document.querySelector('#gif').addEventListener('change', function (e) {
    console.log(e.target.files);
    const formData = new FormData();
    formData.append('gif', e.target.files[0]);
    axios.post('/room/{{room._id}}/gif', formData)
      .then(() => {
        e.target.file = null;
      })
      .catch((err) => {
        console.error(err);
      });
  });
  const sendDM = (e) => {
    const id = e.target.dataset.socket;
    const prompt = window.prompt('귓속말을 입력하세요');
    socket.emit('dm', { target: id, msg: prompt, from: '{{user}}' }); //'dm' 네임스페이스에 emit된 것은 socket.js에서 처리함. 여기서 실어 보낸 { } 이하 부분이 바로 socket.js로 보내지는 data임
  };
  Array.prototype.forEach.call(document.querySelectorAll('.dm'), (el) => { //모든 귓속말 버튼에 sendDM이벤트리스너를 붙임
    el.addEventListener('click', sendDM);
  });

  /*data의 흐름: chat.html의 sendDM -> socket.js의 socket.on('dm') -> chat.html의 socket.on('dm') */
  /*요약하자면 socket.js 서버는 중계기이고 각 클라이언트의 chat.html 사이에서 중계만 해 주는 것이다. */
  socket.on('dm', (data) => { // socket.js에서 socket.on('dm', (data) => { 에서 emit된 데이터가 여기로 도착함. 
    alert(data.from + ' 님에게 메시지가 도착했습니다:' + data.msg);
  });
  const ban = (e) => {
    const id = e.target.dataset.socket;
    const name = e.target.textContent;
    const owner = document.getElementById('room-owner').textContent;
    // console.log(e.target.dataset);
    // console.log(e.target.dataset.socket); // 이거 둘 다 콘솔 찍어보면 socket만 나온다. 상대의 아이디를 찍어내려면 어떻게?
    if ('{{user}}' === owner && name !== owner) {
      if (confirm(`강퇴하시겠습니까?`)) {
        socket.emit('ban', { id });
      }
    }
  }
  Array.prototype.forEach.call(document.querySelectorAll('.ban'), (el) => {
    el.addEventListener('click', ban);
  });
  socket.on('ban', () => {
    alert('강퇴되었습니다.');
    location.href = '/';
  })

</script>
{% endblock %}