<!DOCTYPE html>
<html>

<head>
  <meta chatset="UTF-8">
  <title>GIF 채팅방</title>
</head>

<body>
  <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
  <script>
    const webSocket = new WebSocket("ws://localhost:8005"); //클라이언트에서도 웹 소켓을 사용해야 양방향 통신이 가능해짐. 그래서 프론트엔드 코드에도 꼭 웹소켓 활성화 코드가 들어가야 함.
    webSocket.onopen = function () { // 서버와 연결이 맺어지면 onopen 이벤트리스너 호출
      console.log('서버와 웹소켓 연결 성공.');
    };
    webSocket.onmessage = function (event) { //서버로부터 메시지가 오면 onmessage 이벤트리스너 호출
      console.log(event.data);
      webSocket.send('클라이언트에서 서버로 답장을 보냅니다.');
    };
  </script>
</body>

</html>